$color-etiqueta:rgba(10, 153, 74, 0.5);
$nav-color:rgb(217, 214, 209);
.etiquetaColor{
    background-color: $color-etiqueta;
}
#encabezadoColor{
    background-image: linear-gradient(rgb(97,191,26), white);
    //background-color: $nav-color; 
}