.divPie{
	display: flex;
}
.pie{
	display: block;
	font-weight: bold;
	margin-top: 2vw;
	//word-spacing: 1vw;
	//margin-inline-end: 2vw;
	//border-radius: 5px;
	//align-items: flex-end;
	//display: flex;
	//justify-items: center;
	font-size: 15px;
	color:#f8f9fa;
	div{
		width: 60vw;
		padding: 10px;
		margin: 0 30px;
		p{
			margin-right: 40px;
			justify-content: space-evenly;
		}
		img{
			margin-right: 15px;
			width: 30px;
			height: 30px;
		}
		a{
			margin: 0;
			text-transform: lowercase;
		}
	}
	
}
.pieDerecho{
	display: block;
	margin-left: 10vw;
	margin-top: 2vw;
	width: 1vw;
	padding: 0 10px;
	ul{
		li{
			a{
				font-weight: bold;
				font-size: 20px;
				color:#f8f9fa;
			}
			
		}
	}
	
}
